*{ 
    padding: 0;;
    margin: 0;;
    box-sizing: border-box;
}
body{
    background: rgb(255, 255, 255);
    color: rgb(29, 28, 28);
    display: grid;
    justify-content: center;
    align-items: center;
}
.main_container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 3rem;
    border: 1px solid #272626;
    border-radius: 30px;
    width: fit-content;
}
.main_container > div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    height: 200px;
}